body {
  font-family: 'Poppins', sans-serif;
  background-color: #e9f5f9;
  color: #2c3e50;
}

.profile-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 40%;
  border: 5px solid #7665c7;
  box-shadow: 0 0 20px rgba(126, 121, 224, 0.4);
}

.bio-text {
  font-size: 1.1rem;
  color: #42345e;
  max-width: 600px;
}
h1, 
h2 {
  color: #7878d8;
}

.card-title {
  font-weight: 600;
  color: #1758ae;
}
